body{
	background-color: pink;
	font-family: 'Inconsolata', monospace
}
h1{
	color: bold black;
	text-align: center;
}
img{
  border-radius: 25%; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
#cellemail{
	text-align: center;
}
#qual{
	color: bold black;
}
#Education{
	color: bold black;
	text-align: left;
}
#skills{
	color: bold black;
}
#language{
	color: black;
}
#IDE{
	color: black;
}

#work{
	color: bold black;
}
#skills strong{
	color: darkblue;
}
